
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}


h1 {
    color: #4CAF50;
    font-size: 2rem;
    margin-bottom: 20px;
}


input[type="text"] {
    font-size: 16px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    cursor: pointer;
    background-color: #45a049;
}


ul#task-List {
    list-style-type: none;
    padding: 0;
    width: 350px;
    margin-top: 20px;
}


ul#task-List li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.task-button {
    display: flex;
    gap: 10px;
}

.task-button button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s ease;
}

.task-button button:hover {
    background-color: #d32f2f;
}

.task-button button:nth-child(2) {
    background-color: #2196F3;
}

.task-button button:nth-child(2):hover {
    background-color: #1976D2;
}

.complete {
    text-decoration: line-through;
    color: #888;
}


.task-button button:nth-child(3) {
    background-color: #FFC107;
}

.task-button button:nth-child(3):hover {
    background-color: #FFA000;
}
